<% cancel_path ||= reservation.persisted? ? [:account, reservation] : [:account, @team, :reservations] %>

<%= form_with model: reservation, url: (reservation.persisted? ? [:account, reservation] : [:account, @team, :reservations]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>

      <%= form.hidden_field :user_id, value: current_user.id %> 

      <% if params[:retreat_id].present? %>
        <%= form.hidden_field :retreat_id, value: params[:retreat_id] %>
      <% else %>
        <%= render 'shared/fields/super_select', method: :retreat_id, options: {}, html_options: {},
        choices: @reservation.valid_retreats.map { |retreat| [retreat.label_string, retreat.id] } %>
      <% end %>

        <div class="grid grid-cols-1 md:grid-cols-6 gap-6">
          <div class="col-span-1 md:col-span-5"><%= render 'shared/fields/super_select', method: :item_id, options: {}, other_options: {search: true}, html_options: {},
        choices: @reservation.valid_items.map { |item| [item.label_string, item.id] } %> </div>
          <div class="col-span-1 md:col-span-1"><%= render 'shared/fields/text_field', method: :quantity %></div>
        </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
        <div class="col-span-1"><%= render 'shared/fields/date_and_time_field', method: :start_time %></div>
        <div class="col-span-1"><%= render 'shared/fields/date_and_time_field', method: :end_time %></div>
      </div> 

        <div class="grid grid-cols-1 md:grid-cols-6 gap-6">
          <div class="col-span-1 md:col-span-4"><%= render 'shared/fields/text_field', method: :notes %></div>
          <div class="col-span-1 md:col-span-2"><%# render 'shared/fields/buttons', method: :exclusive %></div>
        </div>


      <%# render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
      <%# render 'shared/fields/super_select', method: :retreat_id, options: {}, html_options: {},
        choices: @reservation.valid_retreats.map { |retreat| [retreat.label_string, retreat.id] } %>
      <%# render 'shared/fields/super_select', method: :item_id, options: {}, html_options: {},
        choices: @reservation.valid_items.map { |item| [item.label_string, item.id] } %>
      <%# render 'shared/fields/super_select', method: :user_id, options: {}, html_options: {},
        choices: @reservation.valid_users.map { |membership| [membership.label_string, membership.id] } %>
      <%# render 'shared/fields/date_and_time_field', method: :start_time %>
      <%# render 'shared/fields/date_and_time_field', method: :end_time %>
      <%# render 'shared/fields/number_field', method: :quantity %>
      
      <%# render 'shared/fields/options', method: :seasonal_default %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

      <% unless @reservation.item.nil? %>
      <% unless @reservation.item.item_options.empty? %>
         <div class="col-span-1 md:col-span-1">
          <%= render 'shared/fields/super_select', method: :items_option_id, options: {include_blank: "None"}, html_options: {},
          choices: @reservation.item.item_options.map { |option| [option.label_string, option.id] } %>
         </div> 
        <% end %>  
        <% end %>
        <% if @reservation.persisted? %>
          <div class="col-span-1 md:col-span-1">
            <%= render 'shared/fields/super_select', method: :dining_style, options: {}, html_options: {},
        choices: ['Shared Use', 'Exclusive Use', 'Split Schedule A', 'Split Schedule B'].map { |option| [option, option] } %>
          </div>
        <% end %>  
        </div>

      
      <%# render 'shared/fields/options', method: :active %>
      
       

      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
