<% cancel_path ||= option.persisted? ? [:account, option] : [:account, @item, :options] %>

<%= form_with model: option, url: (option.persisted? ? [:account, option] : [:account, @item, :options]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>

     <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="lg:col-span-3">
       <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
      </div>
      <div class="lg:col-span-1">
        <%= render 'shared/fields/number_field', method: :capacity %>
      </div>
     </div> 

     <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="lg:col-span-3">
       <%= render 'shared/fields/text_field', method: :description %>
      </div>
      <div class="lg:col-span-1">
        <%= render 'shared/fields/image', method: :image_tag %>
      </div>
     </div>   
      
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
