<% retreats = retreats.accessible_by(current_ability) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :retreats %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>

<% pagy, retreats = pagy(retreats, page_param: :retreats_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>

  <% tabs = ["Next 7 Days", "On Site", "Last Week", "No Internal", "Forest Center", "Lakeview", "Creekside", "Reset"] %>

<ul class="flex flex-wrap border-b md:flex-nowrap">
  <% tabs.each do |tab| %>
    <li class="mr-1 w-1/2 md:w-auto">
      <%= link_to tab, account_team_retreats_path(team_id: current_team.id, search: tab.parameterize.underscore), class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold rounded-lg text-center" %>
    </li>
  <% end %>
</ul>



<% if @retreats&.exists? && @retreats.any? %>
<div class="grid grid-cols-1 md:grid-cols-1 gap-2 w-full">
  <% @retreats.each do |retreat| %>
    <!-- Box for each retreat -->
     <% dynamic_classes = Time.zone.now >= retreat.arrival && Time.zone.now <= retreat.departure ? "border-2 border-green-800" : "border border-grey-500" %>
      <div class="flex w-full p-3 flex-col rounded-lg bg-white shadow-sm <%= dynamic_classes %>">
       <div class="flex items-center gap-1 text-slate-800">
        
        <!-- Retreat Details -->
        <div class="flex w-full flex-col">
          <div class="flex items-center justify-between">
            <h5 class="text-lg font-semibold text-slate-800 mb-1">
              <%= link_to retreat.name, [:account, retreat] %>
            </h5>
            
            <!-- ONSITE / DAYS STATUS -->
            <div class="text-right basis-1/3">
              <% if Time.zone.now < retreat.arrival %>
                <!-- If the current time is before the arrival time -->
                <div class="inline-block w-0 h-10 text-center rounded-lg bg-gradient-to-tl from-green-700 to-green-400">
                  <% if false %>
                  <i class="leading-none text-sm relative top-1 text-white">

                    <%= (retreat.arrival.to_date - Time.zone.now.to_date).to_i %>
                  </i>
                  <i class="leading-none text-xs relative top-1 text-black">Days</i>
                  <% end %>
                </div>
              <% elsif Time.zone.now >= retreat.arrival && Time.zone.now <= retreat.departure %>
                <!-- If the current time is between the arrival and departure times -->
                <i class="leading-none text-sm relative top-1">On</i>
                <i class="leading-none text-xs relative top-1">Site</i>
              <% else %>
                <!-- If the current time is after the departure time -->
               <!-- <i class="leading-none relative top-1">Done</i>  -->
                 <p class="font-semibold"><%= retreat.arrival.in_time_zone("America/Los_Angeles").strftime("%A %-l%P") %></p>
                          <p class="text-gray-400"><%= retreat.arrival.in_time_zone("America/Los_Angeles").strftime("%B #{retreat.arrival.day.ordinalize}") %></p>
              <% end %>
            </div>
          </div>
          
  
          
          <!-- Guest Info and Tags -->
          <p class="text-xs uppercase font-bold text-slate-500 mt-1">
            <span class="inline-block py-0.5 px-2 text-[10px] text-blue-800 bg-blue-200 rounded-full whitespace-nowrap"><%= pluralize(retreat.actual_count, "Guest") %></span>
            <% retreat.locations.each do |location| %>
              <span class="inline-block py-0.5 px-2 text-[10px] text-blue-600 bg-blue-100 rounded-full whitespace-nowrap">
                <%= location.name %>
              </span>
            <% end %>
            <% retreat.demographic_tags.each do |tag| %>
              <span class="inline-block py-0.5 px-2 text-[10px] text-blue-600 bg-blue-100 rounded-full whitespace-nowrap">
                <%= tag.demographic&.name %>
              </span>
            <% end %>
            <% retreat.host_tags.each do |tag| %>
              <span class="inline-block py-0.5 px-2 text-[10px] text-blue-600 bg-purple-100 rounded-full whitespace-nowrap"><%= tag.host&.full_name %></span>
            <% end %>
            <% retreat.planner_tags.each do |tag| %>
              <span class="inline-block py-0.5 px-2 text-[10px] text-blue-600 bg-orange-100 rounded-full whitespace-nowrap"><%= tag.planner&.full_name %></span>
            <% end %>
              
          </p>

        </div>
      </div>
      
      <!-- Retreat Description -->
      <div class="mt-2">
        <p class="text-sm text-slate-600 font-light leading-tight">
          <%= retreat.description %>
        </p>
      </div>

      <!-- Meeting Spaces and Planned -->
      <div class="mt-2 border-t border-slate-200 pt-1 px-1 flex justify-between">
        <span class="text-sm text-slate-600 font-medium text-right">
          <% @meetingspaces = Reservation.includes([:item]).where(retreat_id: retreat.id).joins(:item).where(items: { id: Item.joins(:tags).where(items_tags: { name: "Meeting Spaces" }).ids }).where.not(active: false) %>
          Meeting Spaces: <%= @meetingspaces.any? ? @meetingspaces.map { |p| p.name }.to_sentence : "None" %>
        </span>
        <span class="text-sm text-slate-600 font-light text-right">
          <%  flightchecks = Flights::Check.includes([:flight]).where(retreat_id: retreat.id) %>
           <% if flightchecks.count == 0 %>
              N/A
            <% else %>  
              <%= number_to_percentage(100 * flightchecks.where.not(completed_at: nil).count.to_f / flightchecks.count.to_f, precision: 1)  %> Planned
            <% end %>
              <% if Time.zone.now < retreat.arrival %>
                <!-- Retreat is in the future -->
                <p>Arriving in <%= distance_of_time_in_words(Time.zone.now, retreat.arrival.in_time_zone("America/Los_Angeles")) %></p>
              <% elsif Time.zone.now >= retreat.arrival && Time.zone.now <= retreat.departure %>
                <!-- Retreat is currently ongoing -->
                <p>On Site Arrived <%= distance_of_time_in_words(retreat.arrival.in_time_zone("America/Los_Angeles"), Time.zone.now) %> ago</p>
              <% else %>
                <!-- Retreat is in the past -->
                <p>Arrived <%= distance_of_time_in_words(retreat.departure.in_time_zone("America/Los_Angeles"), Time.zone.now) %> ago</p>
              <% end %>
                <p>Last Update: <%= distance_of_time_in_words(Time.now, retreat.updated_at) %> ago</p>
        </span>
      </div>


    </div>
  <% end %>
</div>

<% else %>
  <div class="bg-white p-6 rounded-lg shadow-md w-full mb-4">
    <h2 class="text-xl font-bold text-gray-700 mb-4">No Retreats Match Parameters</h2>
  </div>

<% end %>















<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 mt-4">


<!--- Card One --->
<div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
  <div class="flex-auto p-4">
    <div class="flex flex-row -mx-3">
      <div class="flex-none w-2/3 max-w-full px-3">
        <div>
          <p class="mb-0 font-sans font-semibold leading-normal text-lg">Groups Onsite</p>
          <h5 class="mb-0 font-bold"><%= @onsite_retreats.nil? ? "No Groups" : pluralize(@onsite_retreats.count, "Group") %>
            <span class="leading-normal text-sm font-weight-bolder text-blue-500"><%= @onsite_retreats.nil? ? "No Guests" : pluralize(@onsite_retreats.sum(:guest_count), "Guest") %></span>
          </h5>
        </div>
      </div>
      <div class="px-3 text-right basis-1/3">
        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-700 to-blue-500">
        
        <i class="fal fa-solid fa-church leading-none text-xl relative top-3.5 text-white"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------------->

<!--- Card three --->
<div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
  <div class="flex-auto p-4">
    <div class="flex flex-row -mx-3">
      <div class="flex-none w-2/3 max-w-full px-3">
        <div>
          <p class="mb-0 font-sans font-semibold leading-normal text-lg">Next 7 days</p>
          <h5 class="mb-0 font-bold"><%= pluralize(@next_7.count, "Group") if @next_7.present? %>
            <span class="leading-normal text-sm font-weight-bolder text-blue-500"><%= pluralize(@next_7.sum(:guest_count), "Guest") if @next_7.present? %></span>
          </h5>
        </div>
      </div>
      <div class="px-3 text-right basis-1/3">
        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-700 to-blue-500">
        
        <i class="fal fa-solid fa-church leading-none text-xl relative top-3.5 text-white"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------------->
<!--- Card Four --->
<div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
  <div class="flex-auto p-4">
    <div class="flex flex-row -mx-3">
      <div class="flex-none w-2/3 max-w-full px-3">
        <div>
          <p class="mb-0 font-sans font-semibold leading-normal text-lg">Stage Coach</p>
          <h5 class="mb-0 font-bold text-blue-500"><%= Reservation.currently_reserved(3330).exists? ? "OPEN" : "CLOSED" %>

            <span class="leading-normal text-sm font-weight-bolder text-blue-500"></span>
          </h5>
        </div>
        <div>
          <p class="mb-0 font-sans font-semibold leading-normal text-lg">Clubhouse</p>
          <h5 class="mb-0 font-bold text-blue-500"><%= Reservation.currently_reserved(3327).exists? ? "OPEN" : "CLOSED" %>
            <span class="leading-normal text-sm font-weight-bolder text-blue-500"></span>
          </h5>
        </div>
      </div>
      <div class="px-3 text-right basis-1/3">
        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-700 to-blue-500">
        
        <i class="fal fa-solid fa-cup-togo leading-none text-xl relative top-3.5 text-white"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------------->
<!--- Card Four --->
<div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
  <div class="flex-auto p-4">
    <div class="flex flex-row -mx-3">
      <div class="flex-none w-2/3 max-w-full px-3">
        <div>
          <p class="mb-0 font-sans font-semibold leading-normal text-lg">Next LV Meal</p>
          <h5 class="mb-0 font-bold text-blue-500"><%= Reservation.next_meal_at("Lakeview") %>

            <span class="leading-normal text-sm font-weight-bolder text-blue-500"></span>
          </h5>
        </div>
        <div>
          <p class="mb-0 font-sans font-semibold leading-normal text-lg">Next FC Meal</p>
          <h5 class="mb-0 font-bold text-blue-500"><%= Reservation.next_meal_at("Forest Center") %>
            <span class="leading-normal text-sm font-weight-bolder text-blue-500"></span>
          </h5>
        </div>
      </div>
      <div class="px-3 text-right basis-1/3">
        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-700 to-blue-500">
        
        <i class="fal fa-solid fa-fork-knife leading-none text-xl relative top-3.5 text-white"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------------->

</div>

 <% end %>
<% end %>





<% if false #Table View %>
     <%= render 'account/shared/box', pagy: pagy do |box| %>
     
<% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.table do %>
        <% if retreats.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.name.heading') %></th>
                <th><%= t('.fields.guest_count.heading') %></th>
                <th><%= t('.fields.arrival.heading') %></th>
                <th>Days Until</th>
                <th>% Planned</th>
                <th>Overdue</th>
                
                
                <th><%= t('.fields.nps.heading') %></th>
                <th><%= t('.fields.debrief.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'account/retreats/retreat', collection: retreats %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, Retreat.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :retreat], class: "#{first_button_primary(:retreat)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if retreats.any? %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:retreat)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>


    <% end %>
