<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :retreats %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: retreat do %>
  <tr data-id="<%= retreat.id %>">
    <%= render "shared/tables/checkbox", object: retreat %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, retreat] %></td>
    <td><%= render 'shared/attributes/text', attribute: :description %></td>
    <td><%= render 'shared/attributes/date_and_time', attribute: :arrival %></td>
    <td><%= render 'shared/attributes/date_and_time', attribute: :departure %></td>
    <td><%= render 'shared/attributes/number', attribute: :guest_count %></td>
    <td><%= render 'shared/attributes/belongs_to', attribute: :organization %></td>
    <td class="text-center"><%= render 'shared/attributes/option', attribute: :internal %></td>
    <td class="text-center"><%= render 'shared/attributes/option', attribute: :active %></td>
    <td><%= render 'shared/attributes/text', attribute: :jotform %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, retreat %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, retreat], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, retreat %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, retreat], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(retreat)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
