<% cancel_path ||= item.persisted? ? [:account, item] : [:account, @team, :items] %>

<%= form_with model: item, url: (item.persisted? ? [:account, item] : [:account, @team, :items]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="lg:col-span-2">
        <%= render 'shared/fields/super_select', method: :tag_ids, html_options: {multiple: true},
        choices: @item.valid_tags.map { |tag| [tag.label_string, tag.id] } %>
      </div>
      <div class="lg:col-span-2">
        <%= render 'shared/fields/text_field', method: :description %>
      </div>
    </div>  

    <div class="grid md:grid-cols-2 lg:grid-cols-6 gap-6">
      <div class="lg:col-span-3">      
         <%= render 'shared/fields/super_select', method: :location_id, options: {}, html_options: {},
        choices: @item.valid_locations.map { |location| [location.label_string, location.id] } %>
      </div>
      <div class="lg:col-span-1">
         <%= render 'shared/fields/buttons', method: :active %>
      </div>
      <div class="lg:col-span-2">
        <%= render 'shared/fields/text_field', method: :overlap_offset %>
      </div>
    </div>    

    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="lg:col-span-2">
        <%= render 'shared/fields/image', method: :image_tag %>
      </div>
     <div class="lg:col-span-2">
        <%= render 'shared/fields/file_field', method: :layout %>
      </div>
    </div>   

    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
     <div class="lg:col-span-2">
        <%= render 'shared/fields/number_field', method: :flip_time %>
     </div>
     <div class="lg:col-span-2">
        <%= render 'shared/fields/number_field', method: :beds %>
     </div>
    </div>  
            
 
      
      
      
      
      
      
      <%= render 'shared/fields/super_select', method: :items_area_id, options: {include_blank: "None"}, html_options: {},
        choices: @item.valid_items_areas.map { |area| [area.label_string, area.id] } %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
