<%= render 'account/shared/page' do |page| %>
  <% page.title t('.section') %>
  <% page.body do %>
    <%= cable_ready_updates_for @item do %>
      <%= render 'account/shared/box', divider: true do |box| %>
        <% box.title t('.header') %>
        <% box.description do %>
          <%= t('.description') %>
          <%= t('.manage_description') if can? :manage, @item %>
        <% end %>

        <% box.body do %>
          <% with_attribute_settings object: @item, strategy: :label do %>
            <%= render 'shared/attributes/text', attribute: :name %>
            <%= render 'shared/attributes/text', attribute: :id %>
            <%= render 'shared/attributes/text', attribute: :description %>
            <%= render 'shared/attributes/belongs_to', attribute: :location %>
            <%= render 'shared/attributes/option', attribute: :active %>
            <%= render 'shared/attributes/number', attribute: :overlap_offset %>
            <%= render 'shared/attributes/image', attribute: :image_tag %>
            <%= render 'shared/attributes/option', attribute: :clean %>
            <%= render 'shared/attributes/number', attribute: :flip_time %>
            <%= render 'shared/attributes/number', attribute: :beds %>
            <%= render 'shared/attributes/has_many', attribute: :tags %>
            <%= render 'shared/attributes/file', attribute: :layout %>
            <%= render 'shared/attributes/belongs_to', attribute: :items_area %>
            <%# 🚅 super scaffolding will insert new fields above this line. %>
          <% end %>
        <% end %>

        <% box.actions do %>
          <%= link_to t('.buttons.edit'), [:edit, :account, @item], class: first_button_primary if can? :edit, @item %>
          <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
          <%= button_to t('.buttons.destroy'), [:account, @item], method: :delete, class: first_button_primary, data: { confirm: t('.buttons.confirmations.destroy', model_locales(@item)) } if can? :destroy, @item %>
          <%= link_to t('global.buttons.back'), [:account, @team, :items], class: first_button_primary %>
        <% end %>

        <% box.raw_footer do %>
          <%# 🚅 super scaffolding will insert new action model index views above this line. %>
        <% end %>
      <% end %>
    <% end %>

    <div class="bg-white p-6 rounded-lg shadow-md w-full mb-4">
      <h2 class="text-xl font-bold text-gray-700 mb-4">Use Schedule</h2>

      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="lg:col-span-2">
        <% if @previous_reservations.any? %>
         <table class="table">
          <thead>
            <tr>
              <th>Last Use</th>
              <th>Previous Groups</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
             
            <% @previous_reservations.order(:start_time).each do |reservation| %> 
             <tr>
              <td><%= reservation.start_time.in_time_zone("America/Los_Angeles").strftime("%B #{reservation.start_time.in_time_zone("America/Los_Angeles").day.ordinalize} %Y") %></td>
                <td><%= link_to reservation.retreat&.name, [:account, reservation] %></td>
                <td><%= distance_of_time_in_words(Time.zone.now, reservation.start_time.in_time_zone("America/Los_Angeles")) %> ago</td>
            </tr> 
           <% end %>  
              
         
       </tbody>
     </table>
     <% else %>
      <p>There are no previous usage of this item </p>
     <% end %>
      </div>
     <div class="lg:col-span-2">
       <% if @next_reservations.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Next Use</th>
              <th>Upcoming Groups</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
             
            <% @next_reservations.order(:start_time).each do |reservation| %> 
             <tr>
              <td><%= reservation.start_time.in_time_zone("America/Los_Angeles").strftime("%B #{reservation.start_time.in_time_zone("America/Los_Angeles").day.ordinalize} %Y") %></td>
                <td><%= link_to reservation.retreat&.name, [:account, reservation] %></td>
                <td><%= distance_of_time_in_words(Time.zone.now, reservation.start_time.in_time_zone("America/Los_Angeles")) %> until arrival</td>
            </tr> 
           <% end %>  
              
         
       </tbody>
     </table>
     <% else %>
       <p>There are no upcoming reservations for this item </p>
     <% end %>
      </div>
    </div> 
  </div>

  <div class="bg-white p-6 rounded-lg shadow-md w-full mb-4">
  <h2 class="text-xl font-bold text-gray-700 mb-4">Calendar</h2>


    <%= render 'account/items/calendar' %> 
    <%# render 'account/retreats/agenda' %>


</div>



    <%= render 'account/items/options/index', options: @item.options, hide_back: true %>
    <%# 🚅 super scaffolding will insert new children above this line. %>
  <% end %>
<% end %>
