<% cancel_path ||= medform.persisted? ? [:account, medform] : [:account, @team, :medforms] %>

<%= form_with model: medform, url: (medform.persisted? ? [:account, medform] : [:account, @team, :medforms]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
      <%= render 'shared/fields/super_select', method: :retreat_id, options: {}, html_options: {},
        choices: @medform.valid_retreats.map { |retreat| [retreat.label_string, retreat.id] } %>
      <%= render 'shared/fields/text_field', method: :phone %>
      <%= render 'shared/fields/text_field', method: :email %>
      <%= render 'shared/fields/text_field', method: :dietary %>
      <%= render 'shared/fields/super_select', method: :diet_id, options: {include_blank: "None"}, html_options: {},
        choices: @medform.valid_diets.map { |diet| [diet.label_string, diet.id] } %>
      <%= render 'shared/fields/text_field', method: :gender %>
      <%= render 'shared/fields/address_field', method: :address %>
      <%= render 'shared/fields/text_field', method: :emergency_contact_name %>
      <%= render 'shared/fields/text_field', method: :emergency_contact_phone %>
      <%= render 'shared/fields/text_field', method: :emergency_contact_relationship %>
      <%= render 'shared/fields/options', method: :terms %>
      <%= render 'shared/fields/text_field', method: :form_for %>
      <%= render 'shared/fields/text_field', method: :age %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
