<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :notifications_requests %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: request do %>
  <tr data-id="<%= request.id %>">
    <%= render "shared/tables/checkbox", object: request %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, request] %></td>
    <td><%= render 'shared/attributes/belongs_to', attribute: :user %></td>
    <td><%= render 'shared/attributes/belongs_to', attribute: :notifications_flag %></td>
    <td><%= render 'shared/attributes/text', attribute: :days_before %></td>
    <td class="text-center"><%= render 'shared/attributes/option', attribute: :email %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, request %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, request], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, request %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, request], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(request)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
