

    <%= form_with model: @medform, url: create_public_waiver_path, local: true, data: { turbo: false } do |form| %>


        <% render 'account/shared/forms/errors', form: form %>


        <% with_field_settings form: form do %>
          <%= form.hidden_field :team_id, value: @retreat.team.id %>
          <%= form.hidden_field :retreat_id, value: @retreat.id %> 

          <div class="mt-2">
            <%= render 'shared/fields/super_select', method: :form_for, options: {}, html_options: {},
              choices: [["Myself", "Myself"],["My child under 18","My child under 18"]] %>
          </div> 

          <div class="mt-2">
            <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-2">
            <div class="col-span-1"><%= render 'shared/fields/phone_field', method: :phone %></div>
            <div class="col-span-1"><%= render 'shared/fields/email_field', method: :email %></div>
          </div> 
          
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-2">
            <div class="col-span-1"><%= render 'shared/fields/number_field', method: :age %></div>
            <div class="col-span-1"><%= render 'shared/fields/super_select', method: :gender, options: {}, html_options: {},
              choices: [["Male", "Male"],["Female","Female"]] %></div>
          </div> 

          <div class="mt-2">
            <%= render 'shared/fields/address_field', method: :address %>
          </div>  

          <div class="mt-2">
           <%= render 'shared/fields/super_select', method: :diet_id, options: {include_blank: "None"}, html_options: {},
              choices: Diet.where(team_id: @retreat.team.id).map { |diet| [diet.label_string, diet.id] } %>
          </div>
<%= render "shared/line" %>
           <div class="mt-6">
            <%= render 'shared/fields/text_field', method: :emergency_contact_name %>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-2">
            <div class="col-span-1"><%= render 'shared/fields/phone_field', method: :emergency_contact_phone %></div>
            <div class="col-span-1"><%= render 'shared/fields/text_field', method: :emergency_contact_relationship %></div>
          </div> 
<%= render "shared/line" %>
           <div class="mt-6">
             <label class="block" for="medform_terms">I agree with the <%= link_to "Terms and Conditions", root_path %></label>
             <%= render 'shared/fields/buttons', method: :terms, other_options: {hide_label: true} %>
          </div> 


        <% end %>
        <div class="mt-6">
          <div class="buttons pull-right" style="display: flex; justify-content: space-between; margin-top: 15px;">
            <%= form.submit (form.object.persisted? ? "Update" : "Submit Release Form"), class: "button ml-auto" %>
          </div>
        </div>  






    <% end %>

  </div>
</div>
