<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :flights_checks %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: check do %>
  <tr data-id="<%= check.id %>">
    <%= render "shared/tables/checkbox", object: check %>
    <td><%= render 'shared/attributes/belongs_to', attribute: :retreat %></td>
    <td><%= render 'shared/attributes/belongs_to', attribute: :flight %></td>
    <td><%= check.retreat.planners.present? ? check.retreat.planners.map { |p| p.full_name }.to_sentence : "Not Assigned" %></td>
    <td>
      <% if check.completed_at.present? %>
           <%= check.completed_at.strftime("%B #{check.completed_at.day.ordinalize}") %>
          <% else %>
            <% time_until_warning = (check.retreat.arrival.to_date - Time.now.to_date).to_i - check.flight.warning.to_i %>
            <% if time_until_warning > 0 %>
             Due in <%= pluralize(time_until_warning,'day') %>
            <% else %>
              <% if time_until_warning.abs() == 0 %>
                <div class="text-red-500">Due Today</div>
              <% else %>  
                <div class="text-red-500"><%= pluralize(time_until_warning.abs(),'day') %> overdue</div>
              <% end %>  
            <% end %> 
          <% end %>  
    </td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, check %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, check], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, check %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, check], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(check)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
