<% checks = checks.accessible_by(current_ability) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :flights_checks %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, checks = pagy(checks, page_param: :checks_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>

  <% if @event_planners.present? %>
    <% tabs = ["Due in Two Weeks", "Overdue"] %>
    <% @event_planners.each do |planner| %>
      <% tabs << Membership.find(planner).user_first_name %>
    <% end %>
    <% tabs << "Reset" %>


    <ul class="flex flex-wrap border-b md:flex-nowrap">
      <% tabs.each do |tab| %>
        <li class="mr-1 w-1/2 md:w-auto">
          <%= link_to tab, account_team_flights_checks_path(team_id: current_team.id, search: tab.parameterize.underscore), class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold rounded-lg text-center" %>
        </li>
      <% end %>
    </ul>
  <% end %>  

    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless checks.any?}") %>
        <%= render "shared/limits/index", model: checks.model %>
      <% end %>

      <% box.table do %>
        <% if checks.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.retreat.heading') %></th>
                <th><%= t('.fields.flight.heading') %></th>
                <th>Planner</th>
                <th><%= t('.fields.completed_at.heading') %>/DUE</th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'account/flights/checks/check', collection: @checks %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, Flights::Check.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :flights_check], class: "#{first_button_primary(:flights_check)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if checks.any? %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:flights_check)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
